*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

header{
    background-color: #333333;
    color: white;
    padding: 16px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;

}
main{
    display: flex;
    padding: 20px;
    gap: 20px;
}
.columna-izq{
    width: 200px;
    border: 2px solid black;
    padding: 15px;
    text-align: center;
    background-color: white;
}
.avatar{
    width: 100%;
    border-radius: 50%;
    margin-bottom: 10px;
}

.columna-der-container{
    flex: 1;
}
.columna-titulo{
    font-weight: bold;
    font-size: 18px;
    color: black;
    margin-bottom: 16px;
}

.columna-der{
    border: 1px solid black;  
    padding: 15px;
    margin-bottom: 16px;
    background-color: #F4F4F4;
    flex: 1;
}

.likes {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}
.likes button {
    background-color: #FFD700;
    border: 1px solid black;
    padding: 5px 15px;
    font-weight: bold;
    cursor: pointer;
}