#root {
  width: 100%;
  height: 100vh;

  text-align: center;
  color: #54ab4f !important;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  background-color: #F0EDEB;
}
