*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}
header{
    width: 100%;
    background-color: #D3D3D3;
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 15px 20px;
    border: 1px solid #999;
}


.titulo{
    font-weight: bold;
    font-size: 18px;
}

.box_busqueda{
    flex: 1;
    display: flex;
    justify-content: center;
    margin: 0 20px;
}

#login{
    background-color: #1e90ff;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 3px;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #1E90FF
}

main{
    display: flex;
    margin: 20px;
    align-items: flex-start;
    justify-content: space-between;    
    
}
.columna-derecha{
    flex: 1;
    margin-left: 20px;
}
.definicion-box {
    background-color: #fff;
    border: 1px solid #000; 
    padding: 20px;
    text-align: center;
}
#agregar-btn{
    margin-top: 10px;
    background-color: #008000;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 3px;
    cursor: pointer;


}
.columna-izquierda{
    flex: 3;
}
.subtitulo{
    font-style: italic;
    color: #d3d3d3;
    font-size: 15px;

}
.cont_sup, .cont_infe {
    background-color: #fff;
    border: 1px solid #000;  
    padding: 15px;
    margin-bottom: 15px;
}
.like-btn{
    background-color:#fff5cb;
    border: 1px solid #999;
    padding: 4px 8px;
    font-size: 12px;
    cursor: pointer;
}
.agregar-btn:hover {
    background-color: #006400; 
}




