.container {
    width: 950px;
    background-color: #eaeaea;
    margin: 24px;
    padding: 20px;
    display: inline-block;
}

.top-nav {
    height: 150px;
    background-color: #ffcc00;
    margin-bottom: 10px;
    display: block;
}

.side-nav {
    height: 380px;
    width: 210px;
    background-color: #66ccff;
    padding-top: 40px;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px ;
}

.main {
    height: 400px;
    width: 700px;
    background-color: deeppink;
    display: inline-block;
    padding: 10px;
}

.sub-content {
    height: 200px;
    width: 210px;
    background-color: mediumblue;
    margin: 10px;
    display: inline-block;
}

#advertisement {
    height: 120px;
    width: 660px;
    background-color: #33cc33;
    flex:  4% 50% ;
    margin: 10px;
}