.botonNavBar {
   font-size: 1rem;
   font-weight: 500;
   color: #424655;
   padding: 0.5rem 0.8rem;
   text-decoration: none;
   border-bottom: 3px solid transparent;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 0.5rem;
   width: 14.5rem;
   height: 3.5rem;
}

.botonNavBarActivo {
   color: #1A67FE;
   border-bottom: 3px solid #1A67FE;
}
.img{
   width: 3.5rem !important;
   height: 3.5% !important;
}

.navBar{
   background-color: #ECEDFA !important;
}

.logOut {
  background-color: transparent !important;
  border: none !important;
  width: 13rem;
   height: 3.5rem;
}
