.formContainer {
    background-color: #000000;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.formCard {
    width: 350px;
    background-color: #111;
    padding: 30px;
    border-radius: 10px;

}

.titulo {
    margin-bottom: 20px;
    font-weight: bold;
}

.label {
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
}

.input {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
}

.boton {
    width: 100%;
    padding: 10px;
    background-color:#0168A9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

